body {background-color: white;
	color: black;
	font-family: Arial, sans-serif;
  margin: 100px;
width: 90%;
margin-left: auto;
margin-right: auto;
}
header {
  background-color: MediumTurquoise;
  padding: 30px;
  text-align: center;
  font-size: 50px;
  color: white;
}
.topnav {
  overflow: hidden;
  background-color: black;
  color: white;
}
article {
  float: right;
  padding: 25px;
  width: 75%;
  background-color: #FFFFFF;
  height: 300px;
}
section {
  content: "";
  display: table;
  clear: both;
}
.column.side {
  width: 20%;
}
.column.middle {
  width: 80%;
}
h1 {
	background-color: gray;
	font-size: 20px;
	padding: 25px 50px 75px 100px;
}
p {
	border-radius: 25px;
  padding: 25px;
  width: 250px;
  height: 170px;
	font-size: 12px; 
	background-color: gray;
	margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 100px;
  margin-left: 100px;
	}
footer {
  background-color: MediumTurquoise;
  padding: 10px;
  text-align: center;
  color: white;
}
