
body {background-color: white;
}
body {
	background-color: white;
	color: black;
}
body {
	font-family: Arial, sans-serif; 
}
h1 {
	font-size: 20px;
}
h2
p {
	border-radius: 25px;
  padding: 25px;
  width: 250px;
  height: 170px;
	font-size: 12px; 
	background-color: gray;
	}
.new {
	border-style: dotted; 
	border-width: 2px;
	width: 100px;
	height: 100px;
	margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 100px;
  margin-left: 100px;
}
div {
	class="new"
}
ol {
	list-style-type: upper-latin;
}
ul {
	list-style-type: square;
}